/* --- reset --- */
.Text2List * {
    box-sizing: border-box;
    font-size: 14px;
}

.Text2List ::-webkit-input-placeholder {
    /* Chrome */
    color: #bcbcbc;
    font-family: font-light, sans-serif;
}

.Text2List :-ms-input-placeholder {
    /* IE 10+ */
    color: #bcbcbc;
    font-family: font-light, sans-serif;
}

.Text2List ::-moz-placeholder {
    /* Firefox 19+ */
    color: #bcbcbc;
    font-family: font-light, sans-serif;
    opacity: 1;
}

.Text2List :-moz-placeholder {
    /* Firefox 4 - 18 */
    color: #bcbcbc;
    font-family: font-light, sans-serif;
    opacity: 1;
}

.Text2List input[type=text]:-webkit-autofill,
.Text2List input[type=text]:-webkit-autofill:hover,
.Text2List input[type=text]:-webkit-autofill:focus,
.Text2List input[type=text]:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 42px white inset !important;
}

/* --- button styles --- */

.Text2List .Button {
    display: inline-block;
    height: 40px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 1px;
    border: 2px solid;
    max-width: 100%;
    transition: background-color 0.4s;
    padding: 2px 6px;
    line-height: 2.4;
    text-align: center;
    z-index: 5;
    cursor: pointer;
    flex: 0 1 100%;
}

.Text2List .Button:focus {
    outline: none;
}

.Text2List .Button.Button--action {
    color: #fff;
    background-color: #02355b;
    border-color: #02355b;
}

.Text2List .Button.Button--action:disabled {
    color: #fff;
    background-color: #D7D7D7;
    border-color: #D7D7D7;
    transition: background-color 0.4s;
    cursor: not-allowed;
}

.Text2List .Button.Button--underline {
    height: 20px;
    line-height: 20px;
    margin-bottom: 14px;
    border-color: transparent;
    background-color: transparent;
    text-decoration: underline;
    color: #02355b;
}

.Text2List .Button.Button--underline:disabled {
    cursor: not-allowed;
    color: #bcbcbc;
}

/* --- main styles --- */

.Text2List {
    display: flex;
    flex-wrap: wrap;
    background: transparent;
    position: relative;
}

.Text2List__heading {
    flex: 0 1 100%;
    margin: 7px 0;
    text-align: left;
}

.Text2List__errorMessage {
    flex: 0 1 100%;
    margin-top: 5px;
}

.Text2List__errorItems {
    display: inline-block;
    color: red;
    margin-left: 5px;
}

.Text2List__input {
    border: 1px solid #bcbcbc;
    display: block;
    outline: 1px solid transparent;
    transition: all .2s ease-in-out;
    height: 75px;
    overflow: auto;
    padding: 13px 20px 13px 13px;
    flex: 0 1 100%;
    resize: none;
    margin: 0 0 16px 0;
}

.Text2List__input:focus {
    outline: 1px solid #02355b;
}

.Text2List__buttonsWrapper {
    flex: 0 1 100%;
}

.Text2List__buttonsWrapper .Button--action {
    display: block;
    width: 100%;
}

.Text2List__inputList {
    flex: 0 1 100%;
    overflow: auto;
    padding: 0;
    margin-top: 0;
}

.Text2List__inputListItem {
    height: 45px;
    line-height: 45px;
    display: flex;
    border-bottom: 1px solid #979797;
}

.Text2List__inputListItemText {
    text-overflow: ellipsis;
    overflow: hidden;
    color: #3d3d3d;
    width: 100%;
    text-align: left;
}

.Text2List .Button.Text2List__removeAll {
    padding: 0;
    margin: 5px 0 10px 0;
    border: none;
    position: absolute;
    bottom: -30px;
    right: 0;
    width: 100px;
}

.Text2List .Button.Text2List__removeOne {
    background: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2233%22%20height%3D%2233%22%20viewBox%3D%220%200%2033%2033%22%3E%0A%20%20%20%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22nonzero%22%3E%0A%20%20%20%20%20%20%20%20%3Ccircle%20cx%3D%2216.5%22%20cy%3D%2216.5%22%20r%3D%2216.5%22%20fill%3D%22%23595959%22/%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M22.577%209.293l1.13%201.13a1%201%200%200%201%200%201.414l-11.87%2011.87a1%201%200%200%201-1.414%200l-1.13-1.13a1%201%200%200%201%200-1.414l11.87-11.87a1%201%200%200%201%201.414%200z%22/%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M23.707%2022.576l-1.13%201.131a1%201%200%200%201-1.414%200l-11.87-11.87a1%201%200%200%201%200-1.413l1.13-1.131a1%201%200%200%201%201.414%200l11.87%2011.87a1%201%200%200%201%200%201.413z%22/%3E%0A%20%20%20%20%3C/g%3E%0A%3C/svg%3E) no-repeat 0 center;
    background-size: 13px;
    height: 45px;
    max-width: 13px;
    margin: 0 10px 0 0;
}

.Text2List__removeOneText {
    display: none;
}

@media(min-width: 521px) {
    .Text2List--responsive .Button {
        max-width: 100px;
    }

    .Text2List--responsive .Text2List__input {
        flex: 1 0 66%;
        margin: 0 1% 0 0;
    }

    .Text2List--responsive .Text2List__errorMessage {
        flex: 1 0 66%;
		color: red;
    }

	.Text2List--responsive .Text2List__duplicatesErrorMessage {
		flex: 1 0 66%;
	}

    .Text2List--responsive .Text2List__buttonsWrapper {
        flex: 1 0 33%;
    }

    .Text2List--responsive .Text2List__buttonsWrapper .Button {
        display: block;
        width: 100px;
    }

    .Text2List--responsive .Text2List__inputList {
        flex: 0 1 66%;
    }

    .Text2List--responsive .Button.Text2List__removeOne {
        max-width: 100px;
        margin-right: 0;
    }

    .Text2List--responsive .Text2List__removeOneText {
        display: inline-block;
    }

    .Text2List--responsive .Button.Text2List__removeAll {
        position: static;
        width: auto;
    }
}
